<h1 data-testid="AppComponent_Title">Cats Looking For a Home</h1>
<ng-container *ngIf="cats$ | async as cats; else noCats">
  <ul *ngIf="cats.length > 0; else noCats">
    <li *ngFor="let cat of cats" attr.data-testid="AppComponent_CatListItem_{{cat.name}}">
      <h2>{{ cat.name }}</h2>
      <p><b>Sex: </b> {{ cat.sex }}  <b>Age:</b> {{ cat.age }}</p>
      <p><b>Fur Color:</b> {{ cat.color }}</p>
      <p><b>Spayed or Neutered?</b> {{ cat.altered }}</p>
    </li>
  </ul>

</ng-container>

<ng-template #noCats>
  <h2 data-testid="AppComponent_NoCats">No cats are currently available for adoption! This is a GOOD thing!</h2>
</ng-template>
